{% extends 'events/base.html' %}

{% block title %}Prihlásenie{% endblock %}

{% block content %}
<div class="container">
    <h1>Prihlásenie</h1>
    <div class="login-form">
        <form method="POST" class="form">
            {% csrf_token %}
            <div class=" inputs">
            <input type="text" name="username" placeholder="Meno" required class="input">
            <input type="password" name="password" placeholder="Heslo" required class="input">
                </div>
            <button type="submit" class="btn">Prihlásiť</button>
        </form>
        <p>Nemáš účet? <a href="{% url 'signup' %}" class=" formlink">Zaregistruj sa</a></p>
    </div>
</div>
{% endblock %}