{% extends 'events/base.html' %}

{% block title %}Registrácia{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="back-btn">‹</a>
<div class="container">
    
<div class="page-header">
    
    <h1 class="page-title">Registrácia</h1>
</div>

<div class="login-form">
    <h2 class="form-card-title">Nový účet</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="input" required>
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="input">
        </div>
        <div class="form-group">
            <label class="form-label">Heslo</label>
            <input type="password" name="password1" class="input" required>
        </div>
        <div class="form-group">
            <label class="form-label">Heslo znova</label>
            <input type="password" name="password2" class="input" required>
        </div>
        {% if form.errors %}
            {% for field in form %}
               {% for error in field.errors %}
                    <div class="message error">{{ error }}</div>
                  {% endfor %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn">Zaregistrovať sa</button>
    </form>
    <p class="form-footer">Už máš účet? <a class="formlink" href="{% url 'login' %}">Prihlás sa</a></p>
</div>
{% endblock %}
